{% extends 'base.html' %}
  {% block content %}
    <div class="absolute top-8 left-1/2 transform -translate-x-1/2 flex items-center space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      <span class="text-xl font-bold text-blue-600">my<span class="text-black">Task</span></span>
    </div>

    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold text-center mb-6" method="post">Registro</h2>

      <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
              class="w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700 transition">
          Registrarse
        </button>
      </form>
    </div>

  {% endblock %}