{% extends 'base.html' %}
{% block content %}

    <div class="w-full max-w-2xl space-y-4">
    <h2 class="text-2xl font-bold mb-4">Tarea</h2>

    <div>
        <form method="POST"> 
            {% csrf_token %}
            {{form.as_p}}
            <button class="w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700 transition">
                Actualizar
            </button>   
        </fomr>
    </div>
    

    <form action="{% url 'task_complete' task.id %}" method="POST">
        {% csrf_token %}
        <button class="w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700 transition">
            Completar
        </button>
    </form>
    <form action="{% url 'task_delete' task.id %}" method="POST">
        {% csrf_token %}
        <button class="w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700 transition">
            Elminiar
        </button>
    </form>
{% endblock %}